@page "/Writer"

<PageTitle>Отправка сообщений</PageTitle>

<div class="container">
    <h1>Отправка сообщений</h1>
    
    <NavLink href="/" class="nav-link">Назад</NavLink>
    
    <div class="input-container">
        <input type="text" value="@_userInput" @oninput="UpdateInput" maxlength="@Maxlength" placeholder="Введите сообщение (до 128 символов)" />
        <p class="char-counter">Осталось символов: @(Maxlength - _userInput.Length)</p>
    </div>
    
    <button @onclick="Submit" disabled="@(_userInput.Length == 0)" class="submit-button">Отправить</button>
</div>
@if (_error is not null)
{
    <div class="error-container">
        <p class="error-message">Ошибка: @_error.Message</p>
    </div>
}